/* font family imports */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');

/* grid alignment */

.center {
    margin: 0 auto;
}

/* padding between sections */

.section-padding {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    background-color: black;
}

/* border line between sections */

.border-black {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.border-grey {
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
}

/* background colours */

.bg-grey {
    background-color: lightgray;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

/* font styles */

.font-navigation {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}

.font-navigation-lrg {
    font-family: "Amatic SC", sans-serif;
    font-size: 42px;
}

.font-heading {
    font-family: "Amatic SC", sans-serif;
    font-size: 42px;
    text-align: center;
}

.font-subheading {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    text-align: center;
}

.font-text {
    font-family: "Indie Flower", sans-serif;
    font-size: 24px;
    text-align: center;
}

.font-form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
}

/* font colours */

.font-white {
    color: white;
}

.font-black {
    color: black;
}

/* padding space top and bottom for all text and icons */

h1, p, .navigation, .social-media {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* logo sizing and alignment */

.logo {
    background: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 80px;
    background-color: black;
}

/* icon formatting in social media section */

.social-media a {
    width: 50px;
    height: 60px;
    padding: 0px 10px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

.space {
    padding-left: 5px;
    padding-right: 5px;
}

/* hyperlink animations */

.hover-glow {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    color: white;
}

.hover-glow:hover {
    color: orange;
    text-decoration: none;
}

/* hyperlink colour that stays lit orange on active page */

.nav-item a {
    color: white !important;
}

.nav-item a:hover {
    color: orange !important;
}

.active {
    color: orange !important;
}

/* ul.nav a:hover { color: #fff !important; } */

/* photo carousel formatting */

#photos {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 360px;
    margin-left: 0px;
    margin-right: 0px;
}

/* photo carousel caption text formatting */
.carousel-caption h2 {
    color: white;
    font-family: "Indie Flower", sans-serif;
    background-color: rgba(5, 5, 5, 0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* photo carousel container formatting */
.carousel-caption {
    max-width: 100%;
    width: 100%;
    height: auto;
    left: 0;
    position: absolute;
    bottom: 0;
}

/* adding space between audio and video sections */

#audio-section {
    padding-bottom: 20px;
}

/* set the width and style of the audio controls */

audio { 
    width: 200px; 
    box-shadow: 5px 5px 20px rgba(5, 5, 5, 0.4);
    border-radius: 90px;
}

/* aligning audio controls to centre of screen */

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

/* adding space between each audio track */

.track-name {
    margin-top: 10px;
    margin-bottom: 0;
}

/* bringing video section in from the edges */

#video-section {
    padding: 20px;
    background-color: black;
}

/* setting the audio controls to reduce in size when the screen gets smaller */

@media(min-width: 1024px) {
    audio { 
    width: 320px; 
    }
}

/* */

#contact-form {
    padding: 30px;
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* submit button on form */

#contact-form div > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-send {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    display: block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
}

.button-send:hover {
    background-color: orange;
    color: black;
}

#plane-icon {
    font-size: 20px;
    padding-left: 2px;
    vertical-align: center;
}

.navigation > * {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}