.logo {
    background: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100px;
    background-color: black;

}

.heading {
    background-color: grey;
}

.navigation {
    background-color: orange;
}

.information {
    background-color: lightgrey;
}

.colour1 {
    background-color: blue;
}

.colour2{
    background-color: yellow;
}

.colour3 {
    background-color: green;

}