/* font family imports */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');

/* grid alignment */

.center {
    margin: 0 auto;
}

/* padding between sections */

.section-padding {
    margin-left: 0;
    margin-right: 0;
    padding: 10px, 10px, 10px, 10px;
    background-color: black;
}

/* border line between sections */

.border-black {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.border-grey {
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
}

/* background colours */

.bg-grey {
    background-color: lightgray;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

/* font styles */

.font-navigation {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    text-align: center;
}

.font-subheading {
    font-family: "Amatic SC", sans-serif;
    font-size: 42px;
    text-align: center;
}

.font-text {
    font-family: "Indie Flower", sans-serif;
    font-size: 24px;
    text-align: center;
}

/* font colours */

.font-white {
    color: white;
}

.font-black {
    color: black;
}

/* padding space top and bottom for all text and icons */

h1, p, .navigation, .social-media {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* logo sizing and alignment */

.logo {
    background: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 80px;
    background-color: black;
}

/* icon formatting in social media section */

.social-media a {
    width: 50px;
    height: 60px;
    padding: 0, 20px, 0, 20px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

.space {
    padding-left: 5px;
    padding-right: 5px;
}

/* hyperlink animations */

.hover-glow {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    color: white;
}

.hover-glow:hover {
    color: orange;
    text-decoration: none;
}

/* photo carousel formatting */

#photos {
    padding-left: 0px;
    padding-right: 0px;
}